img{
	width: 10% ;
}
p
{
    color: black;
}
.début
{
   color: brown;
}
   body
{
  background-color: white;
}
p
{
  text-shadow: 2px 2px 4px white ;
}
h2
{
  text-shadow: 2px 2px 4px white ;
} 
h3
{
  text-shadow: 2px 2px 4px white ;
}

h4
{
  text-shadow: 2px 2px 4px white ;

}

h5
{
                
  text-shadow: 2px 2px 4px white ;
}
h6
                  
{
 text-shadow: 2px 2px 4px white ;
                 
 }
p
{
  border-radius: 10px 5px 10px 5px;
}
a:visited 
{
  color: blue; 
                }
.début    
{
  border: 3px inset black;
  box-shadow: 6px 6px 0px black;
}
a:hover {
  font-weight:bold;
}

