img{
	width:50%;
}
.introduction
{
    color: black;
}
.début
{
   color: brown;
}
   body
{
  background-color: white;
}
P
{
  text-shadow: 2px 2px 4px black ;
}
h1
{
  text-shadow: 2px 2px 4px black ;
}
h2
{
  text-shadow: 2px 2px 4px white ;
} 
h3
{
  text-shadow: 2px 2px 4px black ;
}

h4
{
  text-shadow: 2px 2px 4px black ;

}

h5
{
                
  text-shadow: 2px 2px 4px black ;
}
h6
                  
{
 text-shadow: 2px 2px 4px black ;
                 
 }
p
{
  border-radius: 10px 10px 10px 10px;
}
a:visited 
{
  color: blue; 
                }
.début    
{
  border: 1px inset black;
  box-shadow: 6px 6px 0px black;
}
a:hover {
  font-weight:bold;
}
img
{
  border-radius: 10px  pink;
  background: grey;

}
